@{
    ViewBag.Title = "Home Page";
}



<script src="https://www.w3schools.com/lib/w3.js"></script>

<div class="row col-lg-12">
    <div class="col-6">
        <img class="nature" src="~/Images/Img1.jpg" width="100%" style="margin-left:0px;height:500px">
        <img class="nature" src="~/Images/Img2.jpg" width="100%" style="margin-left: 0px; height: 500px">
        <img class="nature" src="~/Images/Img3.png" width="100%" style="margin-left: 0px; height: 500px">
    </div>
    <div class="col-6">
        <p style="margin-top:150px">
            It’s essential for companies to have a tight invoice management process because suppliers and vendors
            don’t appreciate not getting paid in a timely manner. Further, accidentally paying a vendor twice for a
            six-figure contract is probably not going to go over very well with your head of finance. Good invoice management
            is accountability in action for money going in and out of your company.

        </p>
    </div>
</div>

<br />

<hr />
<div class="container" style="margin-left:150px">
    <div class="row">
        <div class="col">
            <a class="btn btn-dark" href="~/Product/Index" role="button">Product</a>
        </div>
        <div class="col">
            <a class="btn btn-dark" href="~/Customer/Index" role="button">Customer</a>
        </div>
        <div class="col">
            <a class="btn btn-dark" href="~/Bill/Index" role="button">Bill</a>
        </div>
    </div>
</div>
<script>
    w3.slideshow(".nature", 5000);
</script>



